	.banner ul {
		list-style: none;
		width: 300%;
	}
	.banner ul li {
		display: block;
		float: left;
		width: 33%;
		min-height: 350px;

		-o-background-size: 100% 100%;
		-ms-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;

		box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
	}

        .banner .inner {
		    padding: 160px 0 110px;
	    }

        .banner h1, .banner h2 {
		    font-size: 40px;
		    line-height: 52px;

		    color: #fff;
	    }

        
    /*Options div*/
        .options {
	padding: 60px 0;

	background: #39342d;
	color: #7b7368;

	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
	.options a {
		opacity: .7;
		color: #fff;
		border-bottom: 1px solid rgba(255,255,255,.2);
		text-decoration: none;
	}
		.options a:hover {
			opacity: 1;
			border-bottom-color: rgba(255,255,255,.3);
		}
	.options p {
		font-size: 16px;
		line-height: 25px;

		padding-bottom: 20px;
	}
	.options h2 {
		color: #fff;
		padding-bottom: 15px;
	}
	.options pre {
		padding: 20px 25px;

		background: #342f29;
		color: #988f81;

		font-size: 13px;
		line-height: 19px;

		box-shadow: inset 0 2px 2px rgba(0,0,0,.15), inset 0 0 1px rgba(0,0,0,.1);
		border-radius: 5px;
	}
		.options pre span {
			color: #706657;
		}

        /*button*/
        .btn {
		display: inline-block;
		margin: 25px 0 0;
		padding: 9px 22px 7px;
		clear: both;

		color: #fff;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;

		border: 2px solid rgba(0,0,0,.2);
		border-radius: 5px;
	}
		.btn:hover {
			background: rgba(0,255,255,.05);
		}
		.btn:active {
			-moz-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			-o-filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
			filter: drop-shadow(0 -1px 2px rgba(0,0,0,.5));
		}

	.btn, .dot {
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}


    /*Features*/

.features {
	overflow: hidden;
	padding: 50px 0;

    background-color: #C3DEd7;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,.03);
}
	.features li {
		position: relative;
		padding: 0 25px 0 40px;
		list-style: none;

		width: 25%;
		float: left;
	}
		.features li:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;

			display: block;
			width: 24px;
			height: 22px;

			background: url('img/icons.png');
		}
			.features li.browser:before { background-position: 0 -44px; }
			.features li.height:before { background-position: 0 -22px; }
			.features li.responsive:before { background-position: 0 -66px; }
	.features b {
		display: block;
		padding-bottom: 6px;
	}

.wrap {
	margin: 0 auto;
	width: 960px;
}


