@{
    ViewBag.Title = "FileList";
}
@section head{
    <link rel="stylesheet" href="/Content/normalize.css">
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/mmGrid.css">
    <link rel="stylesheet" href="/Content/mmGrid-bootstrap.css">
    <link rel="stylesheet" href="/Content/mmPaginator.css">
    <link rel="stylesheet" href="/Content/mmPaginator-bootstrap.css">
    <link rel="stylesheet" href="/Content/FileListStyle.css">

    <script src="/Scripts/mmGrid/modernizr-2.6.2.min.js"></script>
    <script src="/Scripts/mmGrid/json2.js"></script>
    <script src="/Scripts/mmGrid/mmGrid.js"></script>
    <script src="/Scripts/mmGrid/mmPaginator.js"></script>
    <script src="/Scripts/mmGrid/FileListScript.js"></script>

    <style>
        html,
        body{
            font-family: 'Helvetica Neue',helvetica, "Hiragino Sans GB",'Microsoft YaHei', "WenQuanYi Micro Hei", sans-serif;
            font-size: 12px;
            color: #444;
        }
        .btn{
            font-size: 12px;
        }
        .btnPrice {
            display: block;
            width: 16px;
            height: 16px;
            margin: 0px auto;
            background: url(/Content/img/botton_g1.gif) no-repeat;
        }
        .btnDir {
            display: block;
            width: 16px;
            height: 16px;
            margin: 0px auto;
            background: url(/Content/img/directory.png);
        }
        .btnFile {
            display: block;
            width: 16px;
            height: 16px;
            margin: 0px auto;
            background: url(/Content/img/file.png);
        }
    </style>
}

<h2>FileList</h2>

<main>

<div class="yao-b">

<div node-type="module" class="module-aside aside" style="height: 450px;">
<ul class="b-list-3">
<li node-type="list-item" data-key="all" class="b-list-item active" id="AllFiles">
<a class="sprite2 b-no-ln" hidefocus="true">
<span class="text1">
<span class="img-ico aside-disk">
</span>
All Files</span>
</a>
</li>
<li node-type="list-item" data-key="pic" class="b-list-item" id="Pictures">
<a node-type="pic-item" cat="2" class="b-no-ln" hidefocus="true">
<span class="text1">
<span class="img-ico aside-mpic">
</span>
Pictures</span>
</a>
</li>
<li node-type="list-item" data-key="doc" class="b-list-item" id="Documents">
<a cat="4" class="b-no-ln" hidefocus="true">
<span class="text1">
<span class="img-ico aside-mdoc">
</span>
Documents</span>
</a>
</li>
<li node-type="list-item" data-key="video" class="b-list-item" id="Videos">
<a cat="3" class="b-no-ln" hidefocus="true">
<span class="text1">
<span class="img-ico aside-mvideo">
</span>
Videos</span>
</a>
</li>
<li node-type="list-item" data-key="mbt" class="b-list-item" id="Torrents">
<a cat="7" class="b-no-ln" hidefocus="true">
<span class="text1">
<span class="img-ico aside-mbt">
</span>
Torrents</span>
</a>
</li>
<li node-type="list-item" data-key="music" class="b-list-item" id="Musics">
<a cat="1" class="b-no-ln" hidefocus="true">
<span class="text1">
<span class="img-ico aside-mmusic">
</span>
Musics</span>
</a>
</li>
<li node-type="list-item" data-key="other" class="b-list-item" id="Others">
<a cat="6" class="b-no-ln" hidefocus="true">
<span class="text1">
<span class="img-ico aside-moth">
</span>
Others</span>
</a>
</li>
<li class="b-list-item separator-1">
</li>
</ul>
</div>

</div>


    <div style="margin-bottom: 5px;">
        <button id="btnUp" class="btn">UP</button>
        <button id="btnNewDir" class="btn">NEW</button>
        <button id="btnDel" class="btn">DELETE</button>
        <button id="btnUpload" class="btn">UPLOAD</button>
        <input id="secucode" placeholder="Search by file name" style="margin-left: 20px;"> <button id="btnSearch" class="btn" >SEARCH</button>
    </div>
    <table id="mmg" class="mmg">
        <tr>
            <th rowspan="" colspan=""></th>
        </tr>
    </table>
    <!--div id="pg" style="text-align: right;"></div-->
</main>