@{
    ViewBag.Title = "GetShare";
}

<h2>Password Needed</h2>

@{
    if(!ViewBag.Password){
        @section head{
            <script type="text/javascript">
                $(function () {
                    $('#submit').click();
                });
            </script>

        }
    }
}

@using (Html.BeginForm("ShowShareInfo", "Share", new { codeString = ViewBag.codeString, shareID = ViewBag.shareID }, FormMethod.Post))
{
        <fieldset>
            <legend>Password input form</legend>
            <ol>
                <li>
                    <label>Please input password:</label>
                </li>
                <li>
                    <input type="password" name="password" id="password"/>
                </li>
            </ol>
            <input id="submit" type="submit" value="Submit"/>
        </fieldset>
}
